# **APS Python Workshop (Part 1)**
# **Section 3: Functions**
# Hosted by Victoria Catlett

# **Built-In Functions**

## Math Operators
You can do math on floats and integers relatively easily. Addition, subtraction, multiplication, and division are defined by ```+```,```-```,```*```, and ```/```, respectively.

## **Task 1.3.1**
* Determine what kind of variable you get when you divide 18 by 3 (both integers)
* Print the result

In [ ]:
# YOUR CODE HERE

## Built-In Functions
In addition to ```+```,```-```,```*```, and ```/```, many other common functions are built into Python. Here are a few examples:

* ```abs(your_number)``` returns the absolute value of a number

* ```sum(your_list)``` returns the sum of the elements in a numerical list

* ```min(your_list)``` returns the minimum of a numerical list

* ```max(your_list)``` returns the maximum of a numerical list

* ```range(int1, int2, int3)``` returns a list from int1 to int2 (not including int2) in steps of int3

* ```range(your_integer)``` returns a list from 0 to (your_integer - 1) in steps of 1

## **Task 1.3.2**
* Find the sum of the minimum and maximum of ```[1,2,3,4]```
* Print the result

In [ ]:
# YOUR CODE HERE

## Logical Operators
### Boolean Operators
**Boolean operators** evaluate an expression to a boolean, that is, they determine if a statement is True or False. 
The operators "and," "or," and "not" are ```and```, ```or```, and ```not``` in Python (that's nice!).

Here is an example using boolean operators:

```test_boolean = True and False```

```test_boolean``` will be False.
### Comparison Operators
**Comparison operators**, as their name suggests, compare two values. They are as follows:

|Operator|English Equivalent|
|:--:|:----------:|
|<|"Less than"|
|<=|"Less than or equal to"|
|>|"Greater than"|
|>=|"Greater than or equal to"|
|==|"Equal to"|
|!=|"Not equal to"|

Here is an example using comparison operators:

```test_comparison = 3 <= 7```

```test_comparison``` will be True.

## **Task 1.3.3**
* Determine if the following statement is True or False:
```not (20 is less than or equal to 19)```
* Print the result

In [ ]:
# YOUR CODE HERE

# **User-Defined Functions**